{% extends 'base.html.twig' %}

{% block title %}Ajouter un livre{% endblock %}

{% block body %}
    <h1>Ajouter un livre</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Ajouter</button>
    {{ form_end(form) }}

    <a href="{{ path('app_books') }}">Retour à la liste des livres</a>
{% endblock %}
