{% extends 'base.html.twig' %}

{% block title %}Liste des clients{% endblock %}

{% block body %}
<h2>Bienvenue sur liste des clients</h2>
<table>
    <thead>
        <tr>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.firstName }}</td>
                <td>{{ customer.lastName }}</td>
                <td>{{ customer.email }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
